body{
	background: #D8C3A5;
	color: #E98074;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

#container{
	width: 60%;
	background: #EAE7DC;
	margin: 20px auto;
	overflow: auto;
	padding: 25px;
}

header{
	text-align: center;
	border-bottom: #fff solid 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

header h1{
	padding: 0;
	margin: 0;
}

header p{
	padding: 0;
	margin-top: 5px;
	color: #8E8D8A;
}

section{
	min-height: 400px;
}

footer{
	text-align: center;
}

input[type='submit']{
	background: #D8C3A5;
	border: 0;
	color: #E98074;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 15px;
	cursor: pointer;
}

#results h3{
	background: #D8C3A5;
	padding: 10px;
	margin: 10px 0;

}

#results span{
	color: #000;
	font-weight: bold;
}






